<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="TUtils.Common" value=".\..\TUtils.Common\source\TUtils.Common\out" />
    <add key="TUtils.Messages.Common" value=".\source\TUtils.Messages.Common\out" />
    <add key="TUtils.Messages.Core" value=".\source\TUtils.Messages.Core\out" />
  </packageSources>
  <symbolPackageSources>
    <add key="TUtils.Common.Symbol" value=".\..\TUtils.Common\source\TUtils.Common\out" />
    <add key="TUtils.Messages.Common.Symbol" value=".\source\TUtils.Messages.Common\out" />
    <add key="TUtils.Messages.Core.Symbol" value=".\source\TUtils.Messages.Core\out" />
  </symbolPackageSources>
  <config>
    <!-- Falls eine Quelle ausfällt/nicht existiert, brich nicht ab -->
    <add key="ignoreFailedSources" value="true" />
  </config>
</configuration>
